<% content_for :notices do %>
  <p style="color: green">THIS SHOULD BE A NOTICE</p>
<% end %>

<h1>Tweets</h1>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      <%= link_to "Show this tweet", tweet %>
    </p>
  <% end %>
</div>

<% content_for :footer do %>
  <%= link_to "New tweet", new_tweet_url %>
<% end %>
